#rightSidenav1 {
  width: 450px;
  min-width: 450px;
  max-width: 450px;
}
ng-select {
  width: 100% !important;
}

.full-width {
  width: 100% !important;
}

.background-red {
  background-color: red !important;
  color: white !important;
}