<div class="card card-border">
    <header class="card-header">
        <h2 class="card-title text-center">{{ title }}</h2>
    </header>
    <div class="card-block text-center min-h-160">
        <p class="font-size-40 color-primary" *ngIf="filtered === unfiltered">{{ unfiltered }}</p>
        <p class="font-size-40 color-primary" *ngIf="filtered !== unfiltered"> {{ filtered }} / {{ unfiltered }}</p>
    </div>
    <div class="card-footer border-top">

        <ul class="actions bottom-right">

        </ul>
    </div>
</div>
