<div id="app_wrapper">
  <div toastContainer></div>
  <!-- top navbar-->
  <app-header id="app_topnavbar-wrapper"></app-header>


  <!--(open_export)="exportModal.show($event)"-->

      <!-- App Sidebar Left-->
      <app-sidebar id="app_sidebar-left"></app-sidebar>
      <!-- Main section-->
      <section id="content_outer_wrapper">
        <router-outlet></router-outlet>
        <!-- Page content-->
      </section>
      <!-- App Sidebar Right-->
      	<!--<app-offsidebar id="app_sidebar-right"></app-offsidebar>-->
        <!--<app-task-export-modal #exportModal></app-task-export-modal>-->
</div>

<appBackdrop></appBackdrop>
